.about
{
    width: 100%;
    min-height: 100vh;
    background: url('../../assets/white.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
}

.about1
{
    text-align: center;
    max-width: 800px;
    margin-right: 80px;
}

.about1 h1
{
    font-size: 65px;
    color: #0991FF;
    font-weight: 600;
}

.services
{
    /* margin-top: 60px; */
}

.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 10px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
    border: 3px solid #0991FF;
}

.services .boxes .box:hover{
    background: black;
    color: #0991FF;
    border: 3px solid white;
}

.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #0991FF;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #000000;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
    border: 3px solid #0991FF;
}

.boxes .box:hover .icon{
    background-color: #fff;
    color: #0991FF;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #0991FF;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #fff;
}

.topic
{
    font-size: 20px;
    font-weight: bold;
}

p
{
    text-align: center;
}

.container1
{
    padding-left: 10%;
    padding-right: 10%;
    /* margin-top: 80px; */
}
