.features-container {
  /* margin-top: 60px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Add this to control spacing between cards */
  margin-left: 70px;
  margin-right: 30px;
  
}

.features-container .row {
  display: flex;
  flex-wrap: wrap;
}

.features-container .col-md-4,
.features-container .col-sm-6 {
  flex: 1 1 calc(33.333% - 20px); /* Adjust the card width for 3 cards per row */
  margin: 10px; /* Add margin to create space between cards */
}

.features-container .card-big-shadow {
  max-width: 100%;
  position: relative;
  box-shadow: 
    9px 6px 0px rgba(0, 0, 0, 0.2),
    0px 0px 4px rgba(0, 0, 0, 0.2), 
    0px 4px 4px rgba(0, 0, 0, 0.2), 
    4px 0px 4px rgba(0, 0, 0, 0.2);
}

.features-container .coloured-cards .card {
  margin-top: 30px;
}

.features-container .card[data-radius="none"] {
  border-radius: 30px;
  
}

.features-container .card {
  border-radius: 8px;
  box-shadow: 
  9px 6px 0px rgba(0, 0, 0, 0.2),
  0px 0px 4px rgba(0, 0, 0, 0.2), 
  0px 4px 4px rgba(0, 0, 0, 0.2), 
  4px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: px;
  position: relative;
  z-index: 1;
  width: 400px; 
  height: 230px; 
}

.features-container .card[data-background="image"] .title,
.features-container .card[data-background="image"] .stats,
.features-container .card[data-background="image"] .category,
.features-container .card[data-background="image"] .description,
.features-container .card[data-background="image"] .content,
.features-container .card[data-background="image"] .card-footer,
.features-container .card[data-background="image"] small,
.features-container .card[data-background="image"] .content a,
.features-container .card[data-background="color"] .title,
.features-container .card[data-background="color"] .stats,
.features-container .card[data-background="color"] .category,
.features-container .card[data-background="color"] .description,
.features-container .card[data-background="color"] .content,
.features-container .card[data-background="color"] .card-footer,
.features-container .card[data-background="color"] small,
.features-container .card[data-background="color"] .content a {
  color: #0991FF;
}

.features-container .card.card-just-text .content {
  padding: 50px 65px;
  text-align: center;
}

.features-container .card .content {
  padding: 20px 20px 10px 20px;
}

.features-container .card[data-color="black"] .category {
  color: #7a9e9f;
}

.features-container .card .category,
.features-container .card .label {
  font-size: 20px;
  margin-bottom: 25px;
}

.features-container .card-big-shadow:before {
  /* background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png"); */
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.features-container h4,
.features-container .h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

.features-container h6,
.features-container .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.features-container .card .description {
  font-size: 16px;
  color: #66615b;
}

.features-container .content-card {
  margin-top: 30px;
}

.features-container a:hover,
.features-container a:focus {
  text-decoration: none;
}



/*======== COLORS ===========*/
.features-container .card[data-color="blue"] {
  background: linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="blue"] .description {
  color: #ffffff;
}


.features-container .card[data-color="blue"] .category {
  color: #ffffff;
}

.features-container .card[data-color="green"] {
  background: linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="green"] .description {
  color: #ffffff;
}

.features-container .card[data-color="green"] .category {
  color: #ffffff;
}

.features-container .card[data-color="yellow"] {
  background: linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="yellow"] .description {
  color: #ffffff;
}

.features-container .card[data-color="yellow"] .category {
  color: #ffffff;
}

.features-container .card[data-color="brown"] {
  background:linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="brown"] .description {
  color: #ffffff;
}

.features-container .card[data-color="brown"] .category {
  color: #ffffff;
}

.features-container .card[data-color="purple"] {
  background: linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="purple"] .description {
  color: #ffffff;
}

.features-container .card[data-color="purple"] .category {
  color: #ffffff;
}

.features-container .card[data-color="orange"] {
  background: linear-gradient(135deg, #000000, #074f8a);;
}

.features-container .card[data-color="orange"] .description {
  color: #ffffff;
}

.features-container .card[data-color="orange"] .category {
  color: #ffffff;
}
