/* Home Page Styling */
.home {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/landingPage/white.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 12vh; /* Adjust this value if needed */
}

.home-text {
  text-align: center;
  max-width: 800px;
}

.home-text h1 {
  font-size: 65px;
  color: #0991FF;
  font-weight: 600;
}

.home-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}

.button-container {
  display: flex;
  gap: 30px;
  justify-content: center; /* Center buttons */
  margin-top: 20px;
}

/* Button Styling */
button {
  padding: 12px 40px; /* Same padding for both buttons */
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Button 1 */
.btn1 {
  background-color: #0991FF;
  color: white;
  border: none;
}

.btn1:hover {
  background-color: #0991FF; /* Darker blue on hover */
  box-shadow: 0 0 10px #0991FF; /* Glowing effect */
}

/* Button 2 */
.btn.fill {
  background-color: #fff;
  color: #0991FF;
  border: 1px solid #0991FF;
}

.btn.fill:hover {
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(9, 145, 255, 0.7); /* Glowing effect */
}

/* App Image Styling */
.app {
  max-width: 56%;
  text-align: right;
  margin-left: 100px;
  margin-top: 60px;
}

.app img {
  width: 600px;
  height: 500px;
  object-fit: contain;
}

/* Media Queries for Button Resizing on Smaller Screens */
@media (max-width: 1200px) {
  .home-text h1 {
      font-size: 50px;
  }

  .app img {
      width: 400px;
      height: 400px;
  }
}

@media (max-width: 992px) {
  .home {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
  }

  .home-text {
      text-align: center;
      max-width: 90%;
  }

  .home-text h1 {
      font-size: 45px;
  }

  .home-text p {
      max-width: 90%;
  }

  .button-container {
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      gap: 20px;
  }

  .app {
      max-width: 80%;
      margin-left: 0;
      margin-top: 20px;
  }

  .app img {
      width: 300px;
      height: 300px;
  }
}

@media (max-width: 768px) {
  .home-text h1 {
      font-size: 35px;
  }

  .app img {
      width: 250px;
      height: 250px;
  }
}

@media (max-width: 576px) {
  .home-text h1 {
      font-size: 30px;
  }

  .home-text p {
      font-size: 14px;
  }

  .app img {
      width: 200px;
      height: 200px;
  }
}
