.admin-add-new-officers-home-page{
    flex-grow: 1;
    padding: 20px;
    min-height: 100vh;
    min-width: auto;
    margin-left: 85px;
    transition: margin-left 0.4s ease;
    background-color: #e8eff9;
    overflow-y: auto;
}

.sidebar:hover ~ .admin-add-new-officers-home-page {
    margin-left: 260px;
  }
  
.admin-add-new-officers-home-page-title-container{
    width: 93%;
    margin-left: 35px;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    background-color: #fff;
    border-radius: 15px;
  }

.admin-add-new-officers-home-page-title-container h3{
    margin: 20px;
    font-weight: 800;
    font-size: 20px;
}

.admin-add-new-officer-table-view{
  width: 93%;
  margin-left: 35px;
  height: 80vh;
  margin-bottom: 2vh;
}

.admin-added-new-officer-table{
  width: 60%;
  height: 80vh;
  background-color: #ffffff;
  float: left;
  border-radius: 15px;
}

.admin-add-new-officer-table-title-search{
  width: 100%;
  height: 10vh;
}

.admin-add-new-officer-title{
  width: 50%;
  height: 10vh;
  padding: 30px;
  padding-left: 60px;
  float: left;
}

.admin-add-new-officer-title h3{
  font-size: 18px;
  font-weight: bold;
}

.admin-add-new-officer-form-title{
  width: 100%;
  height: 10vh;
  padding: 30px;
  padding-left: 60px;
}

.admin-add-new-officer-form-title h3{
  font-size: 18px;
  font-weight: bold;
}

.admin-add-new-officer-table-search{
  width: 50%;
  height: 10vh;
  padding: 35px;
  padding-right: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.admin-add-new-officer-table-search input{
  width: 300px;
  height: 4vh;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #69b6f5;
  border-radius: 10px;
}

.admin-add-new-officer-table-search input:hover{
  border: 2px solid #0991FF;
}

.admin-add-new-officer-table-search input:focus{
  border: 2px solid #007bff;
  outline: none
}

.admin-add-new-officer-table-search button{
  width: 40px;
  height: 4vh;
  background: #0991FF;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-add-new-officer-table-search button:hover{
  transform: scale(0.9);
  background: #0074d3;
  color: #fff;
}

.admin-add-new-officer-title h3{
  font-weight: bold;
}

.admin-add-new-officer-table-seperator{
  width: 100%;
  height: 2px;
}

.admin-add-new-officer-content{
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-add-new-officer-content table{
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
}

.admin-add-new-officer-table-row{
  width: 100%;
  height: 15vh;
  display: block;
  border-bottom: 2px solid rgb(169, 216, 255);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.admin-add-new-officer-table-row:hover{
  transform: scale(0.99);
  background-color: rgb(169, 216, 255);
  border-radius: 10px;
}

.admin-add-new-officer-table-row-column-1{
  width: 250px;
}

.admin-add-new-officer-table-row-column-1 img{
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.admin-add-new-officer-table-row-column-2{
  width: 20%;
}

.admin-add-new-officer-table-row-column-2 h4{
  font-weight: bold;
}

.admin-add-new-officer-table-row-column-2 p{
  text-align: start;
}

.admin-add-new-officer-table-row-column-3{
  width: 20%;
}

.admin-add-new-officer-table-row-column-4{
  padding-right: 20px;
  width: 45%;
}

.admin-add-new-officer-table-row-column-4 p{
  text-align: end;
}

.admin-add-new-officer-table-row-column-1,
.admin-add-new-officer-table-row-column-2,
.admin-add-new-officer-table-row-column-3,
.admin-add-new-officer-table-row-column-4{
  vertical-align: middle;
  height: 15vh;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.admin-add-new-officer-table-row {
  animation: slideIn 0.5s ease-out forwards;
}

/*------------------------------------------------------------------------------------*/

.admin-adding-new-officer-form{
  float: right;
  width: 38%;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 15px;
}

.add-new-officer-form-content{
  width: 100%;
  height: 70vh;
  padding: 30px 30px;
}

.add-new-officer-form-Name{
  width: 100%;
  height: 6vh;
  display: flex;
}

.add-new-officer-first-name{
  float: left;
  margin-right: 20px;
  vertical-align: middle;
}

.add-new-officer-last-name{
  float: right;
  margin-bottom: 1vh;
}

.add-new-officer-first-name,
.add-new-officer-last-name{
  width: 50%;
  height: 6vh;
}

.add-new-officer-form-content input,
.add-new-officer-form-content select{
  width: 100%;
  height: 6vh;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 2px solid #69b6f5;
}

.add-new-officer-form-content textarea{
  width: 100%;
  height: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 2px solid #69b6f5;
}

.add-new-officer-form-content input:hover,
.add-new-officer-form-content textarea:hover,
.add-new-officer-form-content select:hover{
  border: 2px solid #0991FF;
}

.add-new-officer-form-content input:focus,
.add-new-officer-form-content textarea:focus,
.add-new-officer-form-content select:focus{
  border: 2px solid #007bff;
  outline: none
}

.add-new-officer-address{
  width: 100%;
  height: 10vh;
}

.add-new-officer-selection-for-position{
  width: 100%;
  height: 6vh;
}

.add-new-officer-form-Name,
.add-new-officer-address,
.add-new-officer-selection-for-position,
.add-new-officer-NIC-number,
.add-new-officer-work-place-ID,
.add-new-officer-contact-number{
  margin-top: 2vh;
}

.add-new-officer-add-button{
  margin-top: 4vh;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: end;
}

.add-new-officer-add-button button{
  width: 20%;
  height: 6vh;
  color: #000;
  background: rgb(9, 145, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new-officer-add-button button:hover{
  transform: scale(0.9);
  background: #0074d3;
  color: #fff;
}

/* .placeholder-selcet{
  color: #a2a2a2;
}

.add-new-officer-selection-for-position select .placeholder-selcet{
  color: #a2a2a2;
} */