.card-slider-section-view{
    width: 95%;
    height: 20vh;
    border-radius: 15px;
    margin-left: 20px;
  }

.card-slider-section-view-cards{
    width: 250px;
    height: 20vh;
    background-color: #fff;
    border-radius: 15px;
}

.slick-slide > div {
    margin: 0 20px;
}

.slick-dots {
    bottom: -40px;
}

.slick-prev:before, .slick-next:before{
    color: #69b6f5;
}

.slick-dots li button{
    color: #69b6f5;
}

.slick-dots li button:before{
    color: #69b6f5;
}

.slick-dots li.slick-active button:before{
    color: #0991FF;
}

.card-slider-section-view-cards-title,
.card-slider-section-view-cards-details,
.card-slider-section-view-cards-progress-bar{
    margin: 10px;
    margin-bottom: 1vh;
}

.card-slider-section-view-cards-title h3{
    font-weight: 900;
    font-size: 20px; 
}

.card-slider-section-view-cards-title img{
    width: 30px;
    height: 30px;
}

.card-slider-section-view-cards-details
/* .card-slider-section-view-cards-title{ */
{
    display: flex;
    align-items: center;
    
}

.card-slider-section-view-cards-details p{
    font-size: 10px;
    text-align: left;
    margin-right: 8px; 
}