.tabs-or-status-of-complaints {
    width: 80%;
    height: 65vh;
}
  
.tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #007bff;
}

.tab-list li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none;
    transition: background-color 0.3s ease-in-out;
}

.tab-list li.active {
    background-color: #fff;
    border-bottom: 3px solid #0991FF;
    font-weight: bold;
    color: #0991FF;
}

.tab-list li:hover {
    background-color: #69b6f5;
}


/* ---------------------search bar -------------------------*/

.Complaints-search-bar-and-fliter-dropdown{
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
}

.Complaints-search-bar-and-fliter-dropdown .complaints-search-bar{
    width: 310px;
    height: 5vh;
}

.Complaints-search-bar-and-fliter-dropdown .complaints-filter-dropdown{
    width: 100px;
    height: 5vh;
}

/* .Complaints-search-bar button{
    width: 30px;
    height: 5vh;
    background: #0991FF;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Complaints-search-bar button:hover{
    transform: scale(0.9);
    background: #0074d3;
    color: #fff;
  } */

  .Complaints-search-bar-and-fliter-dropdown .complaints-search-bar input{
    width: 300px;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #69b6f5;
    border-radius: 10px;
}

.Complaints-search-bar-and-fliter-dropdown .complaints-search-bar input:hover{
    border: 2px solid #0991FF;
}

.Complaints-search-bar-and-fliter-dropdown .complaints-search-bar input:focus{
    border: 2px solid #007bff;
    outline: none
}

/* @media (max-width: 1024px) {
    .Complaints-search-bar input{
        width: 120px;
    }
} */

/* ---------------------search bar -------------------------*/

.tab-content {
    /* padding:  0 20px; */
    height: 50vh;
    width: 100%;
    overflow-y: auto;
}

.tab-content p {
    text-align: start;
}

.content-for-the-status {
    display: none;
}

.content-for-the-status.active {
    display: block;
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in {
    animation: slideIn 0.7s ease-in-out;
  }

