@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* body {
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f0f0f0;
} */

.signupe-page-body{
  display: flex;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  background:linear-gradient(135deg, #000000, #074f8a);
}

.signup-container {
  display: flex;
  width: 800px;
  height: 550px;
  background: #000000;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.signup-image {
  width: 50%;
  overflow: hidden;
}

.signup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form {
  width: 50%;
  padding: 40px 35px 60px;
  box-sizing: border-box;
  background:linear-gradient(135deg, #000000, #074f8a);
}

.signup-text {
  font-size: 30px;
  color: #c7c7c7;
  font-weight: 600;
  letter-spacing: 2px;
}

.signup-form-container {
  margin-top: 40px;
}

.signup-field {
  margin-top: 20px;
}

.signup-field input,
.signup-button {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 19px;
  color: #868686;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #444;
  /* background: linear-gradient(#333, #222); */
  background: #000000;
}

.signup-field input:focus {
  color: #0991FF;
  border-color: #0991FF;
  box-shadow: 0 0 5px rgba(0, 145, 255, 0.2), inset 0 0 5px rgba(0, 145, 255, 0.1);
  background: linear-gradient(#333933, #222922);
  animation: glow 0.8s ease-out infinite alternate;
}

@keyframes glow {
  0% {
    border-color: #0991FF;
    box-shadow: 0 0 5px rgba(0, 145, 255, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    border-color: #0991FF;
    box-shadow: 0 0 20px rgba(0, 145, 255, 0.6), inset 0 0 10px rgba(0, 145, 255, 0.4);
  }
}

.signup-button {
  margin-top: 30px;
  border-radius: 5px !important;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background: black;
  color: #868686;
  border: 1px solid #444;
}

.signup-button:hover {
  color: #ffffff;
  border: 1px solid #0991FF;
  box-shadow: 0 0 5px rgba(0, 145, 255, 0.3), 0 0 10px rgba(0, 145, 255, 0.2),
    0 0 15px rgba(0, 145, 255, 0.1), 0 2px 0 black;
}

.signup-link {
  margin-top: 25px;
  color: #868686;
}

.signup-link a {
  color: #0991FF;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
