/* SuperAdminSidebar.css */

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #ffffff;
}

.superadmin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #000000;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.superadmin-sidebar:hover {
  width: 260px;
}

.superadmin-sidebar .superadmin-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.superadmin-sidebar .superadmin-sidebar-header img {
  width: 70px;
  height: auto;
  border-radius: 50%;
}

.superadmin-sidebar .superadmin-sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.superadmin-sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.superadmin-sidebar-links h4 span {
  opacity: 0;
}

.superadmin-sidebar:hover .superadmin-sidebar-links h4 span {
  opacity: 1;
}

.superadmin-sidebar-links .superadmin-menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.superadmin-sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 75%;
  overflow-y: auto;
  scrollbar-width: none;
}

.superadmin-sidebar-links::-webkit-scrollbar {
  display: none;
}

.superadmin-sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease, box-shadow 0.2s ease;
  border: 1px solid transparent;
}

.superadmin-sidebar-links li a:hover {
  color: #5fb6fd;
  background: linear-gradient(#333933, #222922);
  border-radius: 4px;
  border: 1px solid #0991FF;
  animation: superadmin-glow 0.8s ease-out infinite alternate;
}

@keyframes superadmin-glow {
  0% {
    border-color: #0991FF;
    box-shadow: 0 0 5px rgba(0, 145, 255, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    border-color: #0991FF;
    box-shadow: 0 0 20px rgba(0, 145, 255, 0.6), inset 0 0 10px rgba(0, 145, 255, 0.4);
  }
}

.superadmin-user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
  overflow: hidden;
}

.superadmin-user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.superadmin-user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.superadmin-user-detail {
  margin-left: 23px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.4s ease;
  color: white;
}

.superadmin-sidebar:hover .superadmin-user-detail {
  opacity: 1;
}

.superadmin-sidebar:hover .superadmin-user-account {
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .superadmin-sidebar {
    width: 60px;
  }

  .superadmin-sidebar:hover {
    width: 200px;
  }

  .superadmin-sidebar .superadmin-sidebar-header img {
    width: 50px;
  }

  .superadmin-user-profile img {
    width: 32px;
  }
}
