.sidebar-officer {
    background-color: #000000; 
    height: 100vh; 
    padding: 1.25rem;
    padding-top: 2rem; 
    width: 18rem;
    position: relative; 
}

.icon-arrow {
    background-color: white;
  color: darkblue; 
  font-size: 1.875rem; 
  border-radius: 50%; 
  position: absolute;
  right: -0.75rem; 
  top: 2.25rem; 
}