.home-content {
    margin-top: 80px;
    margin-left: 90px; 
    transition: margin-left 0.4s ease; 
  }
  
  .sidebar:hover ~ .home-content {
    margin-left: 260px; /* Adjusted to account for the expanded sidebar width on hover */
  }
  
  .box {
    height: 200px;
    width: 130px;
  }
  
  .home-section .home-content {
    position: relative;
    padding-top: 104px;
  }
  
  .home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 10px);
    background: #fff;
    padding: 15px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(9, 145, 255, 0.5);
  }
  
  .overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
  }
  
  .home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }
  
  .home-content .box .indicator {
    display: flex;
    align-items: center;
  }
  
  .home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #0991FF;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }
  
  .home-content .box .indicator .text {
    font-size: 12px;
  }
  
  .home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #ffffff;
    line-height: 50px;
    text-align: center;
    color: #0991FF;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }
  
  .home-content .box .cart.two {
    color: #000000;
    background: #C0F2D8;
  }
  
  .home-content .box .cart.three {
    color: #000000;
    background: #ffe8b3;
  }
  
  .home-content .box .cart.four {
    color: #000000;
    background: #f7d4d7;
  }
  
  .home-content .total-order {
    font-size: 20px;
    font-weight: 500;
  }
  
  .home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales {
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  
  .transfers {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .transfer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 0.875rem;
    background: linear-gradient(135deg, #000000, #074f8a);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 10px;
    color: #fff;
    box-shadow: 0 5px 10px rgba(9, 145, 255, 0.5);
    @media (max-width: 1000px) {
      align-items: flex-start;
      flex-direction: column;
    }
  }
  
  .transfer-logo {
    background-color: var(--c-gray-200);
    border-radius: 4px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 45%;
    }
  }
  
  .transfer-details {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    @media (max-width: 1000px) {
      flex-wrap: wrap;
      margin-left: 0;
      margin-top: 1rem;
    }
    div {
      width: calc(100% / 3 - 1rem);
      @media (max-width: 1000px) {
        width: 100%;
      }
      & + div {
        margin-left: 1rem;
        @media (max-width: 1000px) {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  
    dd {
      color: #fff;
      margin-top: 2px;
    }
  }
  
  .transfer-number {
    margin-left: 2rem;
    font-size: 1.125rem;
    flex-shrink: 0;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1000px) {
      margin-left: 0;
      margin-top: 1.25rem;
      width: 100%;
      justify-content: flex-start;
    }
  }
  
  .bx-user, .bxs-user-detail,.bxs-error,.bx-calendar {
    font-size: 30px; /* Adjust the size as needed */
    color: #ffffff; /* Adjust the color as needed */
    background: linear-gradient(135deg, #000000, #074f8a); /* Adjust the background as needed */
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 50%; /* Makes the background a circle */
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

/* Example of additional styles */
.bx-user:hover, .bxs-user-detail:hover,.bxs-error:hover ,.bx-calendar:hover {
    color: #ffffff; /* Change color on hover */
    background: black;/* Change background on hover */
}







.graph-pie-container {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;


}

.main-container-unique {
  background: linear-gradient(135deg, #000000, #074f8a);
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 570px;
  height: 350px;
  margin-top: 30px;
  

}

.main-container-unique2 {
  background: linear-gradient(135deg, #000000, #074f8a);
  color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  height: 350px;
  margin-top: 30px;
  

}


.graph-card1-,
.pie-chart-card {
  flex: 1;
  
}

.pie-chart-card
{
  margin-left: 130px;
}

/* .graph-card1{
  width: 600px;
} */


.year-stats-unique {
  white-space: nowrap;
  max-height: 300px;
  overflow: hidden;
  width: 600px; 
  /* Added width: ; */
}

.year-stats-unique:hover {
  overflow-x: auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 100%;
}

/* ::-webkit-scrollbar-track {
  background: #444e80;
} */

::-webkit-scrollbar-thumb {
  background: #abafc6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5397d6;
}

.month-group-unique {
  cursor: pointer;
  max-width: 400px;
  height: 150px;
  margin: 10px;
  display: inline-block;
  margin-left: 30px;
  margin-top: 70px;
  
}

.bar-unique {
  background-color: #fdfdfd;
  width: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.month-group-unique:hover .bar-unique,
.selected-unique .bar-unique {
  background: #0991FF;
}

.month-group-unique:hover p,
.selected-unique p {
  color: #fff;
}

.h-25-unique {
  height: 25%;
}
.h-50-unique {
  height: 50%;
}
.h-75-unique {
  height: 75%;
}
.h-100-unique {
  height: 100%;
}

.stats-info-unique {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.graph-container-unique {
  position: relative;
}

.percent-unique {
  display: block;
  width: 250px;
  height: 200px;
  margin-top: 30PX;
}

.circular-chart-unique {
  width: 100%;
  height: 100%;
}

.circle-unique {
  stroke: #0991FF;
  fill: none;
  stroke-width: 3;
}

.circle-unique:nth-child(2) {
  stroke: #ffffff;
}

/* .circle-unique:nth-child(3) {
  stroke: #5397d6;
}

.circle-unique:nth-child(4) {
  stroke: #4cc790;
} */

.graph-container-unique p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.info-unique p {
  margin-bottom: 10px;
}

.info-unique span {
  color: #fff;
}


