.admin-complaints-home-page {
  flex-grow: 1;
  padding: 20px;
  min-height: 100vh;
  margin-left: 85px;
  transition: margin-left 0.4s ease;
  background-color: #e8eff9;
  overflow-y: auto;
}

.sidebar:hover ~ .admin-complaints-home-page {
  margin-left: 260px;
}

.complaint-title-container {
  width: calc(100% - 70px);
  margin-left: 35px;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  background: linear-gradient(135deg, #000000, #074f8a);
  border-radius: 15px;
  padding: 30px;
}

.complaint-title-container h3 {
  font-weight: 800;
  text-align: center;
  color: white;
  margin-left: 500px; /* Center text properly */
}

.admin-complaint-table-tab-view {
  width: calc(100% - 70px);
  margin-left: 35px;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Adjust to fit search bar and table side by side */
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
}

.new-registration-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.search-bar {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  margin-top: -65px;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  width: 250px; /* Adjust as needed */
  color: rgb(0, 0, 0);
}

.table-container {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
}

.registration-table {
  width: 100%; /* Adjust to fit within the container */
  border-collapse: collapse;
  background: linear-gradient(135deg, #000000, #074f8a);
  color: #ffffff;
}

.registration-table th,
.registration-table td {
  padding: 8px 10px;
  text-align: left;
  border-bottom: 8px solid #ffffff;
}

.registration-table th {
  background: black;
  height: 80px;
  font-size: 17px;
}

.registration-table th:last-child,
.registration-table td:last-child {
  width: 150px;
}

.registration-table tr:nth-child(even),
.registration-table tr:hover {
  background: linear-gradient(135deg, #000000, #074f8a);
}

.view-btn,
.accept-btn,
.reject-btn {
  padding: 6px 12px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.accept-btn:hover,
.reject-btn:hover,
.view-btn:hover {
  transform: scale(1.025);
}
